html {
  font-size: 16px;
  font-family: Roboto;
}

h1 {
  font-size: 3.8rem;
}

h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}

header {
    display: flex;
    font-family: Helvetica;
    
    color: seashell;
    background-color: white;
    opacity: 0.9;
    justify-content: space-between;
    height: 64px;
    border-bottom: 1px solid seashell;
    position: fixed;
    width: 100%;
    z-index: 5;
	top: 0px;
line-height:32px;
}

body{
	position: relative;
	top: 65px;
}

.left_header {
	display: flex;
	float:left;
	margin-left:24px;
	 flex-direction: row;
	 align-items:center;
}

.first_name{
	display: inline;
	color: black;
	
	
}
.last_name{
	display: inline;
	color: #9e9e9e;
	
}
.navig {
	float : right;
      display: flex;
      align-items: center;
      margin-right: 20px;
}

.navig span{
	margin-left :8px;
	margin-right :8px;
}

a {
	text-decoration: none;
}

.sitemargins {
	margin: 32px 24px;


}
/* first section */
.oncampus {
	display:flex;
	width:100%;
	background-color: #D8D8D8;
}

.campus_image {
  max-width: 100%;
  max-height: auto;
  display: block;
	/*
    height: 500px;
    width: 60%;
	background-image:url("../../resources/images/banner.jpg");
	background-repeat:no-repeat;
	background-position:center center;
	
	background-size:cover;*/
}

.campus_right_pane {
  display:flex;
  height: 500px;
  width: 40%;
  padding-left:24px;
  flex-direction: column;
  align-items:center;
  justify-content:space-around;
}

.startbutton{
	display:flex;
	padding-top:8px;
	padding-bottom:8px;
	background-color: #494949;
	color: white;
	font-size: 2rem;
	width:70%;
	justify-content:center;
}

/****** 2nd section ***********/
.online{
	display:flex;
}

.info_left {
  width: 60%;
  height: auto;
}

.info_left img {
  max-width: 100%;
  max-height: auto;
  display: block;
}

.main_info  {
	display:flex;
	padding-top:32px;
	padding-bottom:24px;
	background-color: white;
	color: #4A4A4A;
	font-size: 4rem;
	width:60%;
	justify-content:center;
}

.info_text{
	display:flex;
	padding-top:8px;
	padding-bottom:8px;
	background-color:white;
	color: #7C7C7C;
	font-size: 2rem;
	width:60%;
	justify-content:center;
}

.information {
	display:flex;
	margin-top: 32px;
}
.special {
	background-color: #D8D8D8;
}

.info_pic {
 width: 35%;

}
.info_pic img {
 
  max-width: 100%;
  max-height: auto;
  display: block;
}

.info_data {
  display:flex;
  width: 65%;
  padding-left:24px;
  flex-direction: column;
  align-items:center;
  justify-content:space-around;
}

.info_more {

  color: #4A90E2;

}

/****** 3rd section ***********/

.course_conteiner{
	display:flex;
	flex-wrap: wrap;
}

.courseinfo{
	max-width:100%;
	height:auto;
}
.course_text{
	display: flex;
	flex-wrap: wrap;
}
.coursetitle{
	display: flex;
	flex-wrap: wrap;
	word-wrap: normal;
	white-space: normal;
}



